.activity-card {
	max-width: 100%;
	color: hsl(200, 100%, 100%);
	border-radius: 15px;
	background-color: hsl(15, 100%, 70%); /*light red*/
	background-image: url("../assets/icon-work.svg");
	background-repeat: no-repeat;
	background-position: top right;
	margin-top: 1em;
	padding-top: 3em;
}

.info-wrapper {
	border-radius: 15px;
	background-color: hsl(235, 46%, 20%); /*Dark blue*/
	padding: 1em;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category-name {
	font-weight: 400;
	font-size: 1.2em;
}

.menu-btn {
	display: flex;
	cursor: pointer;
}

.dot {
	width: 3px;
	height: 3px;
	background-color: hsl(236, 100%, 87%); /*pale blue*/
	border-radius: 50%;
	margin: 2px;
}

.card-info {
	display: flex;
	margin: 1em 0;
	justify-content: space-between;
	align-items: center;
}

.hours {
	font-size: 2em;
	font-weight: 300;
}

.records {
	color: hsl(236, 100%, 87%); /*pale blue*/
	font-weight: 300;
}
